main {
    background-color: red;
    height: 100vh;
    section {
        .tituloPrincipal {
            text-align: center;
            margin-top: 3rem;
            font-size: 50px;
            font-family: $tipografiaTitulos;
        }
        .contenedorCardsIndex {
            justify-content: space-evenly;
            gap: 5rem;
            padding: 3rem;
            .cardIndex {
                .card-body {
                    .tituloBaño {
                        text-align: center;
                        font-family: $tipografiaTitulos;
                        color: violet;
                    }
                    .tituloAtencion {
                        @extend .tituloBaño;
                    }
                    .tituloVerso {
                        @extend .tituloBaño;
                    }
                    p {
                        font-size: 20px;
                        &:hover {
                            color: brown;
                        }
                    }
                    .botonVerde {
                        @include botones(15px, green)
                    }
                    .botonRojo {
                        @include botones(40px, red)
                    }
                    .botonAzul {
                        @include botones(10px, blue)
                    }
                }
            }
        }
    }
}